<div class="top-bar">
  <div class="top-bar-inner">
      <span class="logo-img">
        <%= image_tag("code-fork-symbol.png") %>
      </span>
      <span class="logo-txt">Clean Forks</span>
  </div>
</div>

<div class="filter-list-container" id="filter-list"></div>

<div class="search-info">
  24 repositories matched
</div>

<% repos = [
  {
    name: "gratipay/gratipay.com",
    description: "Gratitude? Gratipay! We help companies and others pay for open source.",
    forked_ago: "3 months",
  },
  {
    name: "1egoman/backstroke",
    description: "ðŸŠ A Github bot to keep repository forks up to date with their upstream. ",
    forked_ago: "4 years",
  },
  {
    name: "qunitjs/qunit",
    description: "An easy-to-use JavaScript Unit Testing framework.",
    forked_ago: "30 minutes",
  }
] %>

<div class="search-result-list">
  <% repos.each do |repo| %>
    <div class="search-result-item">
      <div class="info-container">
        <div class="title">
          <a href="https://github.com/"><%= repo[:name] %></a>
        </div>
        <div class="description">
          <%= repo[:description] %>
        </div>
        <div class="footnote">
          Forked <%= repo[:forked_ago] %> ago
        </div>
      </div>
      <div class="checks-container">
        <div class="check-item">
          No open PRs <%= image_tag("check-success.png") %>
        </div>
        <div class="check-item">
          No unmerged branches <%= image_tag("check-success.png") %>
        </div>
      </div>
      <div class="actions-container">
        <button class="delete-button">
          DELETE
        </button>
        <a class="small-action">
          Add to ignore list
        </a>
      </div>
    </div>
  <% end %>
</div>

<div class="footer">
  <a href="#">View source on GitHub</a>
</div>
